/* variables */
:root {
    --primary  : rgb(0, 174, 239);
    --secondary: #005473;
    --link     : #0A0B5B;
    --font     : 'Roboto', sans-serif;
}

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap');

/* reset */
body,
p,
a,
ul,
li {
    margin         : 0;
    padding        : 0;
    text-decoration: none;
    font-family    : var(--font);
}

li {
    list-style-type: none;
}

/* base styles */


/* mobile styles */

.background-gradient {
    background-image: linear-gradient(180deg, rgb(0, 174, 239) 0%, rgb(0, 74, 102) 100%);
}

.site__navigation {
    position : absolute;
    top      : 0px;
    z-index  : 9;
    width    : 100%;
    max-width: 1140px;
    left     : 0px;
    right    : 0px;
    margin   : auto;
    padding  : 18px 0px;
}

.topbar {
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    font-size     : 14px;
    font-family   : var(--font);
    color         : rgba(255, 255, 255, 0.671);
    line-height   : 1.2;
    text-align    : center;
    text-transform: uppercase;
    font-weight   : 900;
    padding-left  : 10px;
    padding-right : 10px;
    transition    : all .4s ease-in;
    margin-left   : 5px;
    margin-right  : 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color        : rgba(0, 0, 0, .7);
    background   : #fff;
    border-radius: 25px;
}

.main-slider,
.main-slider .carousel-inner {
    min-height: 800px;
}

.main-slider .carousel-caption {
    bottom         : 0px;
    right          : 0px;
    left           : 0px;
    text-align     : left;
    top            : 0px;
    margin         : auto;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-content  : flex-start;
    align-items    : baseline;

}

 .main-slider .carousel-caption h2 {
    font-size     : 60px;
    font-family   : var(--font);
    color         : rgb(255, 255, 255);
    line-height   : 45.2px;
    font-weight   : 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.main-slider .carousel-caption h3 {
    font-size     : 60px;
    font-family   : var(--font);
    color         : rgb(255, 255, 255);
    letter-spacing: 4px;
    font-weight   : 900;
    text-transform: uppercase;
}

.post__content {
    margin-bottom: 45px;
}

.post__content p {
    font-size  : 18px;
    font-style : italic;
    line-height: 27px;
}

.btn-white {
    background-color: rgb(255, 255, 255);
    border-radius   : 20px;
    max-width       : 240px;
    width           : 100%;
    font-size       : 20px;
    font-family     : var(--font);
    color           : var(--primary);
    text-transform  : uppercase;
    line-height     : 1.2;
    text-align      : center;
    font-weight     : 900;
    padding         : .677rem .75rem;
    border          : none;
}

.call-to-action {
    background-color: #0e0e0e;
    padding-top     : 35px;
    padding-bottom  : 35px;
}

.call-to-action strong {
    display    : block;
    font-size  : 30px;
    font-family: var(--font);
    color      : rgb(255, 255, 255);
    line-height: 1.2;
    text-align : left;


}

.call-to-action span {
    display       : block;
    font-size     : 20px;
    font-family   : var(--font);
    color         : rgb(255, 255, 255);
    text-transform: uppercase;
    line-height   : 1.2;
    text-align    : left;
    font-weight   : 300;

}

.left-area-action {

    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-content  : center;
    align-items    : center;

}

.left-area-action li+li+li {
    padding-left: 18px;
    position    : relative;
}

.left-area-action li:nth-child(2) {
    width           : 124px;
    height          : 124px;
    background-color: var(--primary);
    border-radius   : 50%;
    position        : relative;
}
.left-area-action li:nth-child(2):hover{
    background-color: #005473;
}
.left-area-action li:nth-child(2) a {
    display        : flex;
    justify-content: center;
    align-content  : center;
    align-items    : center;
    width          : 100%;
    height         : 100%;
    font-size      : 19px;
    font-family    : var(--font);
    color          : rgb(255, 255, 255);
    font-weight    : bold;
    line-height    : 1.316;
    text-align     : center;
    text-transform : uppercase;

}

.left-area-action li:nth-child(2) a:hover{
    text-decoration: none;
}
.left-area-action li+li+li::before {
    content         : '';
    width           : 1px;
    background-color: var(--primary);
    height          : 100%;
    position        : absolute;
    left            : 0px;
    top             : 0px;
}

.content-area {
    padding-top   : 130px;
    padding-bottom: 130px;
    text-align    : center;
}

.content-area h3 {
    font-size     : 35px;
    font-family   : var(--font);
    color         : var(--primary);
    text-transform: uppercase;
    line-height   : 1.2;
    text-align    : center;
    font-weight   : 900;
}

.content-area h6 {
    font-size  : 20px;
    font-family: var(--font);
    color      : #5a5a5a;
    text-align : center;
    font-weight: 100;
}

.content-area h6 strong {
    font-weight: 900;
}

.heading {
    margin-bottom: 90px;
}

.content-area .single-content {
    background-color: transparent;
    border          : none;
    display         : block;
}

.content-area .single-content img {
    margin-bottom: 40px;
}

.content-area .single-content .card-text {
    font-size  : 20px;
    font-family: var(--font);
    color      : rgb(95, 95, 95);
    font-style : italic;
    line-height: 1.2;
    text-align : center;
    font-weight: 900;
}

.pricing {
    padding-bottom: 90px;
}

.pricing .heading {
    background-color: var(--primary);
    padding-top     : 90px;
    padding-bottom  : 90px;
}

.pricing .heading h3 {
    font-size     : 50px;
    font-family   : var(--font);
    color         : rgb(255, 255, 255);
    text-transform: uppercase;
    line-height   : 1;
    text-align    : center;
    font-weight   : 900;
}

.pricing .heading h6 {
    font-size  : 30px;
    font-family: var(--font);
    color      : rgb(255, 255, 255);
    line-height: 1.2;
    text-align : center;

}

.pricing .nav-tabs {
    border-bottom: 1px solid transparent;
    margin-top   : 42px;
}

.pricing .nav-tabs .nav-link {
    background-color: transparent;
    border-radius   : 60px;
    border          : 2px solid rgb(255, 255, 255);
    max-width       : 240px;
    width           : 100%;
    font-size       : 20px;
    font-family     : var(--font);
    color           : rgb(255, 255, 255);
    text-transform  : uppercase;
    line-height     : 1.2;
    text-align      : center;
    font-weight     : 900;
    padding         : .677rem 2rem;
    transition      : all .4s ease-in;
    cursor          : pointer;
}

.pricing .nav-tabs .nav-link:hover,
.pricing .nav-tabs .nav-link.active {
    background-color: rgb(255, 255, 255);
    color           : var(--primary);
}

.pricing .nav-tabs .nav-item+.nav-item {
    margin-left: 20px;
}

.pricing_table {
    border-radius   : 10px;
    background-color: transparent;
    padding-top     : 37px;
    padding-bottom  : 70px;
    padding-left    : 0px;
    padding-right   : 0px;
    transition      : all 0.3s ease-out;
    transform       : scale(1.0);
}

.pricing_table:hover {
    transform: scale(1.01);
}

.pricing_table.cyan {
    background-color: rgb(0, 174, 239);
}

.pricing_table.cyan-dark {
    background-color: #005473;
}

.pricing_table .card-title {
    font-size    : 30px;
    font-family  : var(--font);
    color        : rgb(255, 255, 255);
    line-height  : 1.2;
    text-align   : center;
    font-weight  : 900;
    margin-bottom: .25rem;
}

.pricing_table .card-subtitle {
    font-size  : 16px;
    font-family: var(--font);
    color      : rgb(255, 255, 255);
    line-height: 1.2;
    text-align : center;
    font-weight: 300;
}

.pricing_table .card-text {
    background-color: rgba(0, 0, 0, .2);
    padding         : 20px 0px;
    text-align      : center;
    font-size       : 50px;
    font-family     : var(--font);
    color           : rgb(255, 255, 255);
    line-height     : 1.2;
    display         : flex;
    justify-content : center;
    align-content   : center;
    align-items     : center;
    font-weight     : 900;
    margin-top      : 20px;
}

.pricing_table .card-text .currency {
    font-family: var(--font);
    font-size  : 16px;
    color      : rgb(255, 255, 255);
    line-height: 1.2;
    text-align : center;
    font-weight: 900;
}

.less-price {
    margin-left: 20px;
}

.pricing_table .card-text s {
    font-family: var(--font);
    font-size  : 16px;
    color      : rgb(255, 255, 255);
    line-height: 1.2;
    text-align : center;
    display    : block;
    font-weight: 900;

}

.pricing_table .card-text .only {
    font-family: var(--font);
    font-size  : 16px;
    color      : rgb(255, 255, 255);
    line-height: 1.2;
    text-align : center;
    display    : block;
    font-weight: 900;

}

.pricing_table .list-group {
    padding   : 20px 0px;
    height    : 100%;
    max-height: 200px;
    min-height: 190px;

}

.rcs-custom-scroll {
    min-height   : 0;
    min-width    : 0;
    margin-bottom: 30px;
}

.rcs-custom-scroll .rcs-outer-container {
    overflow: hidden
}

.rcs-custom-scroll .rcs-outer-container .rcs-positioning {
    position: relative
}

.rcs-custom-scroll .rcs-outer-container:hover .rcs-custom-scrollbar {
    opacity            : 1;
    transition-duration: 0.2s
}

.rcs-custom-scroll .rcs-inner-container {
    overflow-x                : hidden;
    overflow-y                : scroll;
    -webkit-overflow-scrolling: touch
}

.rcs-custom-scroll .rcs-inner-container:after {
    content         : '';
    position        : absolute;
    top             : 0;
    right           : 0;
    left            : 0;
    height          : 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0) 100%);
    pointer-events  : none;
    transition      : height 0.1s ease-in;
    will-change     : height
}

.rcs-custom-scroll .rcs-inner-container.rcs-content-scrolled:after {
    height    : 5px;
    transition: height 0.15s ease-out
}

.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-inner-container {
    user-select: none
}

.rcs-custom-scroll .rcs-custom-scrollbar {
    position      : absolute;
    height        : 100%;
    width         : 6px;
    right         : 3px;
    opacity       : 0;
    z-index       : 1;
    transition    : opacity 0.4s ease-out;
    padding       : 6px 0;
    box-sizing    : border-box;
    will-change   : opacity;
    pointer-events: none
}

.rcs-custom-scroll .rcs-custom-scrollbar.rcs-custom-scrollbar-rtl {
    right: auto;
    left : 3px
}

.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-custom-scrollbar {
    opacity: 1
}

.rcs-custom-scroll .rcs-custom-scroll-handle {
    position: absolute;
    width   : 100%;
    top     : 0
}

.rcs-custom-scroll .rcs-inner-handle {
    height          : calc(100% - 12px);
    margin-top      : 6px;
    background-color: rgba(78, 183, 245, 0.7);
    border-radius   : 3px
}

.pricing_table .list-group-item {
    background   : none;
    color        : #fff;
    padding      : .2rem 0rem;
    border       : none;
    border-bottom: 2px solid #0097cf;
    margin       : .2rem 2.25rem;
}

.pricing_table .list-group-item svg {
    margin: 0 9px;
}

.pricing_table .btn-white {
    margin-top: 50px !important;
}

.call-discuss {
    background-color: rgba(0, 0, 0, .2);
    padding         : 10px 0;
    text-align      : center;
}

.call-discuss span {
    font-size     : 15px;
    font-family   : var(--font);
    color         : rgba(255, 255, 255, .72);
    font-weight   : 700;
    text-transform: uppercase;
    position      : relative;
    margin        : 0 14px;
}

.call-discuss span:after {
    width     : 1px;
    height    : 33px;
    background: #FFF;
    content   : "";
    position  : absolute;
    right     : -18px;
    top       : -7px;
}

.call-discuss span+span:after {
    display: none
}

.call-discuss span a {
    color: rgba(255, 255, 255, .72);
}

.call-discuss span svg {
    margin: 0 9px;
}
.recent-work,
.features {
    background-color: #0e0e0e;
    padding-top     : 130px;
    padding-bottom  : 130px;
}

.recent-work .heading h3,
.features .heading h3{
    font-size     : 50px;
    font-family   : var(--font);
    color         : rgb(255, 255, 255);
    text-transform: uppercase;
    line-height   : 1;
    text-align    : center;
    font-weight   : 900;
}

.recent-work .heading h6,
.features .heading h6 {
    font-size  : 30px;
    font-family: var(--font);
    color      : rgb(255, 255, 255);
    line-height: 1.2;
    text-align : center;

}

.features .single-content {
    padding-top   : 45px;
    padding-bottom: 45px;
    background    : var(--primary);
    border        : none;
    display       : block;
    text-align    : center;
}

.features .single-content .card-text {
    font-size  : 24px;
    font-family: var(--font);
    color      : rgb(255, 255, 255);
    line-height: 1.2;
    text-align : center;
}
.recent-work .single-portfolio{
    overflow: hidden;
    transition: all ease-in-out .5s;
}
.recent-work .single-portfolio img{
   transform: scale(1.0);
   transition: all ease-in-out .5s;
}
.recent-work .single-portfolio:hover img{
    transform: scale(1.1);
}
.reason-choose{
    padding-top   : 100px;
    padding-bottom: 100px;
}
.reason-choose .heading{
    margin-bottom: 80px;
}
.reason-choose .heading h3 {
    font-size     : 50px;
    font-family   : var(--font);
    color         : var(--primary);
    text-transform: uppercase;
    line-height   : 1;
    text-align    : center;
    font-weight   : 900;
}

.reason-choose .heading h6 {
    font-size  : 30px;
    font-family: var(--font);
    color      : #5a5a5a;
    line-height: 1.2;
    text-align : center;
    font-weight: 300;

}
.reason-choose .media{
    margin-bottom:40px;
}
.reason-choose .media h5{
        font-size: 24px;
        font-family: var(--font);
        color: rgb(95, 95, 95);
        font-style: italic;
        font-weight: 900;
        line-height: 1.2;
        text-align: left;
}
.reason-choose .media p{
        font-size: 16px;
        font-family: var(--font);
        color: rgb(95, 95, 95);
        line-height: 1.675;
       
      
}
.pricing-combobox{
    padding-top: 100px;
    padding-bottom: 100px;
}
.pricing-combobox h3 {
    font-size: 30px;
    font-family: var(--font);
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    font-weight: 900;
  }
.pricing-combobox h4 {
        font-size: 16px;
        font-family: var(--font);
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        font-weight: 400;
  }
  
.combobox {
    width: 100%;
    text-align: center;
    background-color: var(--secondary);
    padding: 75px 25px;
    border-radius: 10px;
}
.combobox .combobox-cols {
    display: grid;
    grid-template-columns: 60% auto;
    margin-top: 65px;
    gap: 0 60px;
}
.combobox .combobox-cols .combo-list-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.combobox .combobox-cols .combo-list h6 {
    font-size: 22px;
    font-family   : var(--font);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 900;
    text-align: left;
    
  }
  .combobox .combobox-cols .combo-list .list-group{
    border-radius: 0px;
    text-align: left;
  }
    .combobox .combobox-cols .combo-list .list-group li {
        background: none;
        border: none;
        padding: 0px;
        border-bottom: 2px solid var(--primary);
        color: #fff;
        margin-bottom: 10px;
padding-bottom: 8px;
    }
    .combobox .combobox-cols .combo-list .list-group li svg{
        margin-right: 10px;
    }
    .combobox .combobox-cols .combo-price-wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .combobox .combobox-cols .combo-price-wrapper h2{
            font-size: 70px;
            font-family   : var(--font);
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: right;
            font-weight: 900;
            
    }
    .combobox .combobox-cols .combo-price-wrapper h6{
            font-size: 30px;
            font-family   : var(--font);
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: right;
            font-weight: 400;
    }
    .combobox .combobox-cols .combo-price-wrapper .call-discuss {
        margin: 27px 0px 20px 0px;
    }
.customer-clients{
    padding-top   : 100px;
    padding-bottom: 100px;
    background-color: #f8f8f8; 
}
.customer-clients .heading h3 {
    font-size     : 50px;
    font-family   : var(--font);
    color         : var(--primary);
    text-transform: uppercase;
    line-height   : 1;
    text-align    : center;
    font-weight   : 900;
}

.customer-clients .heading h6 {
    font-size  : 30px;
    font-family: var(--font);
    color      : #5a5a5a;
    line-height: 1.2;
    text-align : center;
    font-weight: 300;

}
.client-slide .carousel-caption{
    position: inherit;
left: 0px;
right: 0px;
color: rgb(108, 108, 108);
}
.client-slide .carousel-caption .post__content{
        font-size: 24px;
        font-family   : var(--font);
        color: rgb(108, 108, 108);
        font-style: italic;
        line-height: 1.25;
        text-align: center;
}
.client-slide .carousel-caption .client-info h5{
        font-size: 23px;
        font-family   : var(--font);
        color         : var(--primary);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
      font-weight: 700;
      
}
.client-slide .carousel-caption .client-info h6{
    font-size: 19px;
    font-family   : var(--font);
    color: rgb(108, 108, 108);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.client-slide .carousel-indicators li{
width:11px;
height:11px;
border-radius: 100%;
border:none;
background-color: rgb(108, 108, 108);
}
.client-slide .carousel-indicators li.active{
    background-color         : var(--primary); 
}
.award-reconized {
    padding-top   : 100px;
    padding-bottom: 100px;
}

.award-reconized .heading h3 {
    font-size     : 50px;
    font-family   : var(--font);
    color         : var(--primary);
    text-transform: uppercase;
    line-height   : 1;
    text-align    : center;
    font-weight   : 900;
}

.award-reconized .heading h6 {
    font-size  : 30px;
    font-family: var(--font);
    color      : #5a5a5a;
    line-height: 1.2;
    text-align : center;
    font-weight: 300;

}
.award-reconized  ul {
    margin: 0 auto;
    text-align: center;
}
.award-reconized ul li {
    display: inline-block;
    margin: 0 30px;
    opacity: .6;
}
.award-reconized ul li img {
    margin: auto;
    filter: grayscale(100%);
    transition: .3s;
}
.award-reconized ul li img:hover {
    filter: grayscale(0%);
}

/* footer */
.footer {
    padding-top     : 100px;
    padding-bottom  : 100px;
    background-color: #131313;
}

.footer h5 {
    color         : var(--primary);
    font-size     : 16px;
    font-weight   : 500;
    margin-bottom : 40px;
    text-transform: uppercase;
}

.footer .last img {
    margin-bottom: 13px;
}

.footer .col-md-3.last {
    position: relative;
}

.footer .col-md-3.last:before {
    content   : "";
    width     : 1px;
    height    : 180px;
    position  : absolute;
    left      : -20px;
    top       : 2px;
    background: rgba(255, 255, 255, .39);
}

.footer p a,
.footer p,
.footer li a,
.footer li {
    font-size  : 16px;
    font-family: var(--font);
    color      : rgb(164, 163, 165);
    line-height: 1.667;
}

.footer .last li svg {
    margin: 0 9px;
}

/* copyright */
.copyright {
    margin-top: 40px;
}

.disclaimer {
    background-color: #000000;
    padding-top     : 30px;
    padding-bottom  : 30px;
    font-size       : 11px;
    text-align      : center;
    border-top      : 1px solid #3e3e3e;
}

.disclaimer h5 {
    font-size     : 12px;
    text-align    : center;
    text-transform: uppercase;
}

/* small tablet styles */
@media screen and (min-width: 620px) {}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
    .topbar {
        position: absolute;
        right   : 17px;
        top     : 12px;
        display : block;
    }

    .topbar .list-inline-item {
        font-size   : 15px;
        font-family : var(--font);
        color       : rgb(255, 255, 255);
        line-height : 1.2;
        text-align  : left;
        padding-left: 40px;
        position    : relative;
    }

    .topbar .list-inline-item a:hover,
    .topbar .list-inline-item a {
        color          : rgb(255, 255, 255);
        text-decoration: none;
    }

    .topbar .list-inline-item:nth-child(2) {
        padding-left: 60px;
    }

    .topbar .list-inline-item+.list-inline-item {
        margin-left: 30px;
    }

    .topbar .list-inline-item img {
        position: absolute;
        left    : 0px;
    }

    .topbar .list-inline-item span {
        display: block;
    }

    .navbar-collapse {
        margin-top: 28px;
    }

    .caption-text {
        padding-top: 135px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px) {}